@model IEnumerable<VintageShop.Models.Album>
@{
    ViewData["Title"] = "Albums";
}
<h1>@ViewData["Title"]</h1>

@foreach (var item in Model)// null ref exception
{
    <div class="gallery">
        <a asp-controller="Albums" asp-action="Details" asp-route-id="@item.AlbumID">
            <img src=@item.ImageUrl alt="img" width="600" height="400">
        </a>
        <div class="desc">@item.Name</div>
    </div>

}
@*przebudowac aplikacje na dodawanie zdjec recznie przez panel admina https://www.c-sharpcorner.com/article/upload-and-display-image-in-asp-net-core-3-1/*@