@model VintageShop.Models.Arthist

@{
    ViewData["Title"] = "LoginForm";
}

<h1>LoginForm</h1>

<h4>Arthist</h4>
<hr />
<div class="row">
    <div class="col-md-4">
@*panel logowania do systemu obadac na kursie asp.net + angular tam robil cos podobnego
    ze po zalogowaniu byly widoczne niektore opcje ktorych wczesniej nie bylo itd
    dodac uzytkownikow*@
        <form asp-action="LoginForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Alias" class="control-label"></label>
                <input asp-for="Alias" class="form-control" />
                <span asp-validation-for="Alias" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Sign in" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
